<style>
  .sitemap-section{
    margin-bottom: 20px;
    padding: 0 30px;
  }

  .page-sitemap ul {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    max-width: 100vw;
    flex-wrap: wrap;
    list-style: none;
  }

  .page-sitemap a {
    text-decoration: none;
    color: inherit;
  }

  .sitemap-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .sitemap-section ul {
    width: 100%;
  }

  .sitemap-overflow-column {
    display: flex;
    flex-direction: column;
  }
</style>

<div class="page-width page-sitemap">

  {%- if section.settings.title != blank -%}
    <h1>{{ section.settings.title }}</h1>
  {%- endif -%}
  
  {% for block in section.blocks %}
    
    {% assign menu_link = block.settings.sitemap_link_list %}

    {%- if block.settings.title != blank -%}
      <header class="sitemap-section">
        {% if block.settings.url != blank %}
          <a href="{{ block.settings.header_url }}">
        {% endif %}
          <h2>
            {{ block.settings.title }} 
          </h2>
        {% if block.settings.url != blank %}
          </a>
        {% endif %}
      </header>
    {%- endif -%}

    {%- case block.type -%}
      {%- when 'linklist' -%}

        <section class="sitemap-section">      
          {%- assign menu = linklists[menu_link] -%}

          {%- for link in linklists[menu_link].links -%}
            <nav class="sitemap-overflow-column">
              <header class="" tabindex="2">
                <a href="{{ link.url }}" class="sitemap-main" title="{{ link.title }}">
                  <h3 class=""> {{ link.title }} </h3>
                </a>
              </header>
              
              {%- assign child_list_handle = link.title | handleize -%}
              
              {%- for childlink in linklists[child_list_handle].links %}
                <div class="">
                  <ul>
                    <li>
                      <a href="{{ childlink.url }}" class="sitemap-child" title="{{ childlink.title }}">
                        <h4 class=""> {{ childlink.title }} </h4>
                      </a>
                    </li>
                    {%- assign grand_child_list_handle = childlink.title | handle -%}
                    {%- for grandchildlink in linklists[grand_child_list_handle].links -%}
                      <li>
                        <a href="{{ grandchildlink.url }}" class="sitemap-grandchild" title="{{ grandchildlink.title }}">
                          <h4 class=""> {{ grandchildlink.title }} </h4>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endfor -%}
            </nav>
          {%- endfor -%}
        </section>


    {%- when 'collection' -%}

        <section class="sitemap-section">
          <nav class="">
            <ul class="">

              {% for collection in collections %}

                {% unless collection.metafields.seo.hidden == 1 %}
                  <li class="">
                    <a href="{{ collection.url }}" class="sitemap-child" title="{{ collection.title }}">
                      <h3>
                        {{ collection.title | capitalize }}
                      </h3>
                    </a>
                  </li>
                {% endunless %}

              {% endfor %}

            </ul>
          </nav>
        </section>

    {%- when 'blog' -%}

      <section class="sitemap-section">
        <nav>
          <ul class="">

            {% for article in blogs[block.settings.blog_handle].articles %}
              {% unless article.metafields.seo.hidden == 1 %}
                <li class="">
                  <a href="{{ article.url }}" class="sitemap-child" title="{{ article.title }}">
                    <h3>
                      {{ article.title }}
                    </h3>
                  </a>
                </li>
              {% endunless %}
            {% endfor %}

          </ul>
        </nav>
      </section>

    {%- when 'page' -%}

      <section class="sitemap-section">
        <ul class="">

          {% for page in pages %}
            {% unless page.metafields.seo.hidden == 1 %}
              <li class="">
                <a href="{{ page.url }}" class="sitemap-child" title="{{ page.title }}">
                  <h3>
                    {{ page.title }}
                  </h3>
                </a>
              </li>
            {% endunless %}
          {% endfor %}

        </ul>
      </section>


    {%- else -%}
        
    {%- endcase -%}
  {% endfor %}

</div> 
  


{% schema %}
{
  "name": "Linklists for Sitemap",
  "templates": ["page"],
  "settings": [
   {
     "type": "text",
     "id": "title",
     "label": "Sitemap Header",
     "default": "Sitemap"
   }
  ],
  "blocks": [
    {
      "type": "linklist",
      "name": "Linklist",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Section Header",
          "default": "Linklists"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Section Header URL"     
        },
       {
         "type": "link_list",
         "id": "sitemap_link_list",
         "label": "Linklist"
       }
      ]
    },
    {
      "type": "collection",
      "name": "Collections",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Section Header",
          "default": "Collections"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Section Header URL"     
        }
      ]
    },
    {
      "type": "blog",
      "name": "Blogs",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Section Header",
          "default": "Blogs"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Section Header URL"     
        },
        {
          "type": "blog",
          "id": "blog_handle",
          "label": "Blog Selector"
        }
      ]
    },
    {
      "type": "page",
      "name": "Pages",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Section Header",
          "default": "Pages"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Section Header URL"     
        }
      ]
    }
 ],
 "presets": [
    {
      "name": "Sitemap",
      "category": "URLs",
      "blocks": [
        {
          "type": "page" 
        },
        {
          "type": "blog"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}